:root {
    --color-main-text: #101828;
    --color-light-text: rgba(16, 24, 40, 0.6);
    --color-categories: #F2F4F7;
    --color-main-button: #E44848;
    --color-main-button-hover: #D84343;
    --color-input: #F7F7F7;
    --color-filter: #475467;
    --color-stars: #FFC531;
    --color-white: #FFFFFF;
    --color-scroll: #d9d9d9;
    --color-white-alfa: rgba(255, 255, 255, 0.7);
    --color-border-button: rgba(71, 84, 103, 0.2);
    --color-line: rgba(16, 24, 40, 0.1);
}