.navigation {
    position: relative;
    height: 60px;
    display: flex;

    margin-bottom: 10px;
}

.logo {
    width: 90px;
    height: 60px;
}

@media screen and (min-width: 768px) {
    .navigation {
        align-items: center;
        justify-content: space-between;

        margin-bottom: 0;
    }

    .logo {
        width: 100px;
        height: 70px;
    }

    .blockNav {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        width: 110px;
        height: 80px;
    }
}