.header {
    padding: 5px 16px;
}

.navigation {
    position: relative;
    height: 60px;
    display: flex;
}

.logo {
    width: 90px;
    height: 60px;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 10px 16px;
    }

    .navigation {
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 100px;
        height: 70px;
    }

    .blockNav {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        width: 110px;
        height: 80px;
    }
}