.navigation {
    position: relative;
    height: 60px;
    display: flex;

    margin-bottom: 10px;
}

.logo {
    width: 90px;
    height: 60px;
}

.navigationList {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}