.homeVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -500px;
    z-index: 1;

}

@media screen and (min-width: 581px) {
    .homeVideo {
        object-position: center;
    }
}